.forgetpassword-content{
    margin: 100px 300px;
}
.password-title{
    text-align: center;
    margin-bottom: 2rem;
}
.icon-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-reset{
    width: 70%;
    margin-left: 1%;
}
.btn-middle{
    width: 80%;
    margin: auto;
    margin: 3% 10%;
}
@media (max-width:767px) {
    .password-title{
        font-size: 1.5rem;
        margin-bottom:1rem;
    }
    .forgetpassword-content{
        margin: 0 100px;
    }
}