.wrap{
    width: 1200px;
    margin: 0 auto;
}
.header{
    height: 112px;
    background-color: $gray-100;
}
.box{
    border-radius: 5px;
    margin: 100px 300px;
    border: 1px solid #91a07b;
}
.signup-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn-size{
    width: 100%;
}
.form-size{
    width: 90%;
}
.form-control{
    margin: 5% 0% 0% 0%;
}
.form-text{
    margin: 1% 1%;
    font-size: xx-small;
}
.birthday{
    font-size: 1rem;
    margin: 5% 5% 1% 5%;
}
.birthday-area{
    display:flex;
    justify-content: space-evenly;
}
.birthday-style{
    width: 26.5%;
    padding-left: 1%;
}
.check-agree{
    margin: 5%;
}
.btn-line{
    width: 30%;
    margin: 0% 5%;
}
.link-top{
    width: 90%;
    height: 1px;
    border-top: 1px solid #91a07b;
    margin: 5%;
}
.btn-join{
    width: 90%;
    margin: 0% 5% 5% 5%;
}
.footer{
    height: 500px;
    background-color: $gray-200;
}
@media (max-width:767px) {
    .box{
        margin: 0 100px;
    }
    .wrap{
        width: 80%;
    }
    .btn-line{
        width: 45%;
        white-space: nowrap;
        font-size: 0.75rem;
    }
}