<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../scss/all.css">
    <script src="../js/common.js"></script>
</head>
<body>
    <div class="wrap">
        <!-- <div class="header"></div> -->
        <div class="container-xl">
            <div class="box">
                <div class="btn-group btn-size" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary btn-lg register">註冊會員</button>
                    <button type="button" class="btn btn-primary btn-lg login">加入會員</button>
                </div>
                <form class="signup-content">
                    <h5 class="login-title">登入會員</h5>
                    <div class="form-size">
                        <input type="email" placeholder="電子郵件" class="form-control email" id="exampleInputEmail1" aria-describedby="emailHelp">
                        <input type="password" placeholder="密碼" class="form-control password" id="exampleInputPassword1">
                    </div>
                    <button type="submit" class="btn btn-primary btn-login">開始購物吧！</button>
                    <a href="forgotpassword.html" class="link-forgetpassword">忘記密碼？</a>
                </form>
                
            </div>
        </div>
        <!-- <div class="footer"></div> -->
        <script src="https://unpkg.com/axios@1.1.2/dist/axios.min.js"></script>
        <script src="../assets/JS/login.js"></script>
    </div>
</body>
</html>